html{
	background-image: url("http://www.holaspot.com/csulamoon.jpg");
	/*background-repeat: repeat-x;*/
	}

body {
	margin: 0px auto;
	text-align: center;
	text-align: right;
	padding: 5px;
	font-family: tahoma;
	font-size: 8pt;
	color: #004E82;
}
.wrapper {
	margin: auto;
	text-align: left;
	width: 800px;
}
.head {
		background-color: #E5F2F2;
}
.headertext {
	FONT-SIZE: 10px; font-weight:bold; color: white; FONT-FAMILY: Verdana, Tahoma, Helvetica, sans-serif; TEXT-DECORATION: none
}
.image {
	width: 150px;
	float: left;
}

.clear {
	clear: both;
}
select {
	padding:0px;
	text-align: left;
	width:150px;
}
.body,.footer {
	padding:0;
	text-align: left;
	margin-top: 20px;
	padding:10px;
}
.core {
	float:left;
	width: 545px;
	height: auto;
	border: 1px solid #96A9C9;
	min-height: 100%;
	background: white;
}
.right {
	float: right;
	width: 220px;
	border: 1px solid #96A9C9;
	background: white;
}
a {
	color: #004E82;
}
a:hover {
	color: #E9592F;
}
.img {
	float: left;
	position: relative;
	margin: 10px !important;
	margin-left: 5px;
	margin-bottom: 0px;
}
.ic {
	float: left;
	position: relative !important;
	margin: 10px;
	margin-left: 0px;
	margin-right: 0px;
	width: 160px;
}
.img img {
	margin: 0;
	padding: 0;
	border: 1px solid #000;
	width: 50px;
	height: 50px;
}

.game {
	width: 240px;
	float: left;
}
.game a {
	color: #ff0000;
	font-size: 12pt;
}
.header {
	border-bottom: 1px solid #96A9C9;
	margin: 10px;
	margin-bottom: 0px;
	font-weight: bold;
	color: #4169E1;
}
.general {
	margin: 7px;
	margin-left: 10px;
}
option.headname {
	font-weight: bold;
}
object {
	display: block;
	border: 1px solid black;
	margin: auto;
	margin-top: 20px;
}
.playcenter {
	margin: 10px;
}
.top {
	text-align: left;
	border: 1px solid #004E82;
	background:#4169E1;
}
.top img {
	margin-left: 8px;
}
IMG.w3c {
	width : 88px;
	border-style: none;
	padding : 10px 0px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.w3c a {
	margin-left: auto;
	margin-right: auto;
}